<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="696aa4">  <td>19/03/01 13:06:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest()[pri:0, instance:com.utilities.CogniphiTest@5db250b4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1115201599</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>19/03/01 13:06:23</td>   <td>3673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.utilities.CogniphiTest@5db250b4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1115201599</td>   <td></td> </tr>
<tr bgcolor="8760d8">  <td>19/03/01 13:06:23</td>   <td>3673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CogniphiTest.driveData()[pri:0, instance:com.utilities.CogniphiTest@5db250b4]">driveData</td> 
  <td>main@1115201599</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>19/03/01 13:07:10</td>   <td>50528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:com.utilities.CogniphiTest@5db250b4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1115201599</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>19/03/01 13:07:10</td>   <td>50529</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest()[pri:0, instance:com.utilities.CogniphiTest@5db250b4]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1115201599</td>   <td></td> </tr>
</table>
