<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.TestSuites.NewTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>primeNUmbers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>method</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>duplicateCharaacters</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>bigNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>pattern1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>f</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>pattern2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>reverseNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>duplicateString</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>reverseString</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sortString</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sTRING</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>decimalBinary</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
