<h2>Methods that were not run</h2><table>
<tr><td>com.TestSuites.NewTest.primeNUmbers</td></tr>
<tr><td>com.TestSuites.NewTest.sortString</td></tr>
<tr><td>com.TestSuites.NewTest.reverseString</td></tr>
<tr><td>com.TestSuites.NewTest.decimalBinary</td></tr>
<tr><td>com.TestSuites.NewTest.f</td></tr>
<tr><td>com.TestSuites.NewTest.pattern2</td></tr>
<tr><td>com.TestSuites.NewTest.pattern1</td></tr>
<tr><td>com.TestSuites.NewTest.bigNumber</td></tr>
<tr><td>com.TestSuites.NewTest.duplicateString</td></tr>
<tr><td>com.TestSuites.NewTest.sTRING</td></tr>
<tr><td>com.TestSuites.NewTest.reverseNumber</td></tr>
</table>