<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f3ddb1">  <td>19/07/31 23:31:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.duplicateCharaacters()[pri:0, instance:com.TestSuites.NewTest@271053e1]">duplicateCharaacters</td> 
  <td>main@724125922</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>19/07/31 23:31:57</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.method()[pri:0, instance:com.TestSuites.NewTest@271053e1]">method</td> 
  <td>main@724125922</td>   <td></td> </tr>
</table>
