<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c4639c">  <td>19/01/24 19:28:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest()[pri:0, instance:com.TestSuites.NewTest@9a7504c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>19/01/24 19:28:37</td>   <td>3731</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeClass()[pri:0, instance:com.TestSuites.NewTest@9a7504c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>19/01/24 19:28:39</td>   <td>5464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.TestSuites.NewTest@9a7504c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>19/01/24 19:28:39</td>   <td>5480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.C001()[pri:0, instance:com.TestSuites.NewTest@9a7504c]">C001</td> 
  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>19/01/24 19:28:40</td>   <td>6281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:com.TestSuites.NewTest@9a7504c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>19/01/24 19:28:40</td>   <td>6285</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.toEndTest()[pri:0, instance:com.TestSuites.NewTest@9a7504c]">&lt;&lt;toEndTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
<tr bgcolor="c4639c">  <td>19/01/24 19:28:40</td>   <td>6286</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest()[pri:0, instance:com.TestSuites.NewTest@9a7504c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@242355057</td>   <td></td> </tr>
</table>
