<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98978d">  <td>19/02/18 16:23:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.TestCase_C001()[pri:0, instance:com.TestSuites.SampleTest@77f99a05]">TestCase_C001</td> 
  <td>main@586084331</td>   <td></td> </tr>
<tr bgcolor="98978d">  <td>19/02/18 16:23:16</td>   <td>3572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.TestCase_C003()[pri:0, instance:com.TestSuites.SampleTest@77f99a05]">TestCase_C003</td> 
  <td>main@586084331</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/18 16:23:16</td>   <td>3572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:com.TestSuites.SampleTest@77f99a05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@586084331</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/18 16:23:17</td>   <td>3713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:com.TestSuites.SampleTest@77f99a05]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@586084331</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/18 16:23:13</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.TestSuites.SampleTest@77f99a05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@586084331</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/18 16:23:16</td>   <td>3572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.TestSuites.SampleTest@77f99a05]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@586084331</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>19/02/18 16:23:04</td>   <td>-8588</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest()[pri:0, instance:com.TestSuites.SampleTest@77f99a05]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@586084331</td>   <td></td> </tr>
</table>
